* {
    font-family: 'Roboto', sans-serif;
    background: #f0dddd;
    padding: 0 25px 0 25px;
}

h1 {
    text-align: center;
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h3 {
    padding-left: 35px;
}

ul {
    padding-left: 80px;
}

ol {
    padding-left: 80px;
}


