 * {
  font-family: 'Roboto', sans-serif;

}

body{
  background: #f7f4f4;
}

.title {
  text-align: center;
}

.list li {
  display: inline-block;

  padding: 8px 12px;
  background-color: rgb(212, 166, 166);
  

}

.list li:hover {
  background-color: rgb(192, 160, 135);
}

.list-links {
  text-decoration: none;
}

.list-container {
  width: 450px;
  margin: 25px auto;
}